body {
  font-family: Arial;
}

.item-grid,
.input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-row {
  display: contents; 
}

.input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.todo-input-2,
.todo-input-date {
  font-size: 15px;
  padding: 6px;
}

.add-button-2 {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0;
}
